url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scheduler = {editable = true, path = "."}

[dev-packages]
nose2 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"
gspread = "4.0.1"
gspread-formatting = "1.0.0"
toml = "*"
oauth2client = "*"
yapf = "*"
